page-home {
    .margin-top-20{
        margin-top: 20px;
    }
    .fontsize-9{
        font-size: 9px;
    }

    .store-location{
        font-size:11px;
        margin-top: 0px;
    }
    .store-title{
        margin-bottom: 2px;
    }
}
